<div id="view" ng-intro-options="main.introOptions" ng-intro-method="CallMe" ng-intro-autostart="false">

  <package-editor options="main.editorOptions">
    <div class="pull-right">
      <div class="btn-group">
        <div class="file-dropzone" file-dropzone="text/plain,text/csv,text/tab-separated-values" data-max-file-size="30" dropped="main.dropped(file)">
          <label id="data-drop" class="btn btn-primary btn-sm btn-file">
            Select file or Drag-and-Drop your own data here
            <input type="file" on-read-file="main.dropped(file)" accept="text/plain,text/csv,text/tab-separated-values" data-max-file-size="30" style="display: none;" />
          </label>
        </div>
      </div>
      <div class="btn-group">
        <button id="intro" type="button" class="btn btn-success btn-sm" ng-click="CallMe();">
          Show me
        </button>
      </div>
    </div>
  </package-editor>

  <div id="charts" class="container-fluid">

    <div class="col-md-3">
      <div class="well chart-height">
        <form>
          <label>Dataset:</label>
          <select id="data-set" class="form-control"
            ng-options="option.name for option in main.dataPackage.resources[0].data track by option.filename"
            ng-model="main.selectedData"
            ng-change="main.loadDataset(main.selectedData)"></select>

          <label>Locate symbol:</label>
          <ui-select id="gene-select"
              multiple theme="bootstrap" paste="main.pasteSymbols" tagging-tokens="SPACE|,|/"
              ng-model="main.geneList"
              ng-change="main.update()">
            <ui-select-no-choice>
              We couldn't find any matches...
            </ui-select-no-choice>
            <ui-select-match placeholder="Select genes...">
              {{::$item.symbol}}
              <span class="badge" ng-style="{ backgroundColor: main.plotState.colorScale($index) }">
                <small>
                  {{::$item.count}}
                </small>
              </span>
            </ui-select-match>
            <ui-select-choices repeat="gene in main.uniqGeneList | filter: $select.search | limitTo: 100 track by gene.symbol"
                refresh-delay="1000"
                ng-class="{ hide: $select.search.length < 1 }">
                <span ng-bind-html="::gene.symbol | highlight: $select.search"></span>
                <span class="badge">
                  <small ng-bind="::gene.count">
                  </small>
                </span>
            </ui-select-choices>
          </ui-select>
          <div class="row">
            <div class="col-xs-12">
              <div id="gene-list-toolbar" class="btn-group btn-group-xs pull-right">
                <button id="clipboard-btn" class="btn btn-sm btn-default" title="Copy list to clipboard"
                ng-disabled="main.geneList.length === 0">
                  <i class="fa fa-clipboard" aria-hidden="true"></i>
                </button>
                <button class="btn btn-sm btn-default" title="Clear"
                  ng-click="main.geneList = []; main.update()"
                  ng-disabled="main.geneList.length === 0">
                  <i class="fa fa-times" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>

          <div id="filters" class="row clear">
            <div id="fc-filter" class="col-md-12 col-xs-6">
              <label>abs. log2FoldChange &gt; </label>
              <input type="number" class="form-control input-sm" ng-model="main.plotState.fccut" min="0" max="5" step="0.1" ng-change="main.update()"/>
              <rzslider rz-slider-model="main.plotState.fccut" rz-slider-options="main.fcCutSlider"></rzslider>
            </div>

            <div id="fdr-filter" class="col-md-12 col-xs-6">
              <label>AND log10 FDR &le; </label>
              <input type="number" class="form-control input-sm" ng-model="main.plotState.logpcut" min="-5" max="0" step="0.1" ng-change="main.update()"/>
              <rzslider rz-slider-model="main.plotState.logpcut" rz-slider-options="main.fdrCutSlider"></rzslider>
            </div>
          </div>
          <div id="gene-count" class="row clear">
            <div id="fdr-filter" class="col-md-12 text-right">
              <label>Up: {{main.upDown[0]}}</label>
              <label>Down: {{main.upDown[1]}}</label>
            </div>
          </div>
          <div id="plot-options" class="row clear">
            <div class="col-md-12">
              <label>Plot</label>
            </div>

            <div class="col-md-12 col-xs-6">
              <rzslider rz-slider-model="main.plotState.alpha" rz-slider-options="main.fcAlphaSlider"></rzslider>
            </div>

            <div id="plot-field" class="col-md-12 col-xs-6">
              <label>Density plot:</label>
              <input type="radio" name="hex" value="hex" checked ng-model="main.plotState.plot" ng-change="main.draw()"> Hexplot
              <input type="radio" name="scatter" value="scatter" ng-model="main.plotState.plot" ng-change="main.draw()"> Scatterplot
            </div>

            <div id="plot-type" class="col-md-12 col-xs-6">
              <label>Type:</label>
              <input type="radio" name="MA" value="MA" checked ng-model="main.plotState.plotType" ng-change="main.draw()"> MA-plot
              <input type="radio" name="Volcano" value="Volcano" ng-model="main.plotState.plotType" ng-change="main.draw()"> Volcano
            </div>
          </div>
        </form>
      </div>

    </div>
    <div class="col-md-9" on-resize="main.draw()">
      <div class="well chart-height chart-well">
        <div id="chart-toolbar" class="btn-group btn-group-xs pull-right toolbar chart-toolbar" role="group" aria-label="toolbar">
          <button type="button" class="btn btn-sm btn-default" ng-disabled="main.chart.brush.empty()" ng-click="main.chartAction('zoomExtent')" title="zoom to selection">
            <span class="fa-stack zoom-extent">
              <i class="fa fa-square-o fa-stack-1x" aria-hidden="true"></i>
              <i class="fa fa-search fa-stack-1x" aria-hidden="true"></i>
            </span>
          </button>

          <button type="button" class="btn btn-sm btn-default" ng-click="main.chartAction('zoomIn')" title="zoom in">
            <i class="fa fa-search-plus" aria-hidden="true"></i>
          </button>

          <button type="button" class="btn btn-default" ng-click="main.chartAction('zoomOut')" title="zoom out">
            <i class="fa fa-search-minus" aria-hidden="true"></i>
          </button>

          <button type="button" class="btn btn-default" ng-click="main.chartAction('zoomHome')" title="zoom home">
            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
          </button>
        </div>

        <div id="_scatter__chart" class="_scatter" file-dropzone="[text/plain,text/csv,text/tab-separated-values]" data-max-file-size="30" dropped="main.dropped(file)">
          <div class="spinner-icon"></div>
          <div class="drop-here">
            Drop File Here
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <h2>Expression <small>Showing {{main.gridOptions.data.length}} of {{main.dataState.data.length}}</small></h2>
      <div ui-grid="main.gridOptions" ui-grid-exporter ui-grid-resize-columns class="expression-grid"></div>
    </div>

  </div>
</div>
