._scatter .axis .label {
  font-size: 12px;
  text-anchor: middle;
}

._scatter .title {
  font-size: 14px;
  text-anchor: middle;
}

._scatter .superscript {
  font-size: 8px;
}

._scatter .axis path,
._scatter .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

._scatter circle.point {
  cursor: pointer;
  stroke: none;
  stroke-width: 1px;
}

._scatter circle.highlight,
._scatter circle.swatch {
  stroke: white;
  stroke-width: 1px;
  stroke-opacity: 0.8;
}

._scatter circle.highlight:hover,
._scatter circle.swatch:hover {
  stroke-width: 1.5px;
  stroke-opacity: 1;
}

._scatter .mid-line {
  fill: none;
  stroke: #A3A3A3;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

._scatter .hexagons {
  stroke: none;
  /* shape-rendering: optimizeSpeed; */
}

._scatter .extent {
  fill: #000;
  fill-opacity: .125;
  stroke: #fff;
}

g.hexagons path {
  stroke-width: 1;
  stroke: white;
  stroke-opacity: 0.5;
}

#_scatter__chart.hover {

}

.d3-tip-scatter {
  width: 300px;
  text-align: center;
  font: 11px sans-serif;
  color: #b0c4de;
}

.d3-tip-scatter p {
  color: #fff;
}

.d3-tip.animate {
  left: 0;  top: 0;
  opacity: 0;
  transition: left 0.2s ease-out, top 0.2s ease-out, opacity 0.2s ease-out;
  -webkit-transition: left 0.2s ease-out, top 0.2s ease-out, opacity 0.2s ease-out;
}
