<script type="text/ng-template" id="bootstrap/match-multiple.tpl.html">
  <span class="ui-select-match">
    <span ng-repeat="$item in $select.selected track by $index">
      <span
        class="ui-select-match-item btn btn-default btn-xs"
        tabindex="-1"
        type="button"
        ng-disabled="$select.disabled"
        ng-click="$selectMultiple.activeMatchIndex = $index;"
        ng-class="{'select-locked':$select.isLocked(this, $index)}"
        ui-select-sort="$select.selected">
          <span class="close ui-select-match-close" ng-hide="$select.disabled" ng-click="$selectMultiple.removeChoice($index)">&nbsp;&times;</span>
          <span uis-transclude-append></span>
      </span>
    </span>
  </span>
</script>

<div id="view" ng-intro-options="$ctrl.introOptions" ng-intro-method="CallMe" ng-intro-autostart="false">
  <div id="charts" class="container-fluid deiva-canvas">
    <div class="row">
      <form>
        <uib-accordion class="col-md-3" close-others="false">
          <div id="data-set" uib-accordion-group class="panel-default" is-open="$ctrl.uiState.dataset">
            <uib-accordion-heading>
              Dataset <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': $ctrl.uiState.dataset, 'glyphicon-chevron-right': !$ctrl.uiState.dataset}"></i>
            </uib-accordion-heading>
            <ui-select id="data-set"
              theme="bootstrap"
              ng-model="$ctrl.selectedData"
              title="Choose an experiment"
              ng-change="$ctrl.loadDataset($ctrl.selectedData)">
              <ui-select-match placeholder="Enter an experiment...">
                <small>{{$select.selected.name}}</small>
              </ui-select-match>
              <ui-select-choices repeat="value in $ctrl.experimentList | filter: { name: $select.search }">
                <small ng-bind-html="value.name | highlight: $select.search"></small>
              </ui-select-choices>
            </ui-select>
            <br />
            <div class="">
              <div class="file-dropzone" file-dropzone="text/plain,text/csv,text/tab-separated-values" data-max-file-size="30" dropped="$ctrl.dropped(file)">
                <label id="data-drop" class="col-xs-12 btn btn-primary btn-sm btn-file">
                  Select or drop your data here
                  <input type="file" on-read-file="$ctrl.dropped(file)" accept="text/plain,text/csv,text/tab-separated-values" data-max-file-size="30" style="display: none;" />
                </label>
              </div>
            </div>
          </div>
          <div uib-accordion-group class="panel-default" is-open="$ctrl.uiState.locate">
            <uib-accordion-heading>
              Locate <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': $ctrl.uiState.locate, 'glyphicon-chevron-right': !$ctrl.uiState.locate}"></i>
            </uib-accordion-heading>
            <ui-select id="gene-select"
                multiple theme="bootstrap" paste="$ctrl.pasteSymbols" tagging-tokens="SPACE|,|/"
                ng-model="$ctrl.geneList"
                ng-change="$ctrl.update()">
              <ui-select-no-choice>
                We couldn't find any matches...
              </ui-select-no-choice>
              <ui-select-match placeholder="Select genes...">
                <span>
                  {{$item.symbol}}
                  <span class="small badge symbol-badge" ng-style="{ backgroundColor: $ctrl.colorMap[$item.symbol] }">
                    {{$item.count}}
                    <input type="color"
                      spectrum-colorpicker
                      ng-model="$ctrl.colorMap[$item.symbol]"
                      on-hide="$ctrl.update()"
                      on-move-options="{ update : true }" />
                  </span>
                </span>
              </ui-select-match>
              <ui-select-choices repeat="gene in $ctrl.uniqGeneList | filter: $select.search | limitTo: 100 track by gene.symbol"
                  refresh-delay="1000"
                  ng-class="{ hide: $select.search.length < 1 }">
                  <span ng-bind-html="gene.symbol | highlight: $select.search"></span>
                  <span class="badge small" ng-style="{ backgroundColor: ($ctrl.colorMap[gene.symbol] || '#777777') }">
                    <small ng-bind="gene.count">
                    </small>
                  </span>
              </ui-select-choices>
            </ui-select>
            <div class="row">
              <div class="col-xs-12">
                <div id="gene-list-toolbar" class="btn-group btn-group-xs pull-right">
                  <button id="clipboard-btn" class="btn btn-sm btn-default" title="Copy list to clipboard"
                  ng-disabled="$ctrl.geneList.length === 0">
                    <i class="fa fa-clipboard" aria-hidden="true"></i>
                  </button>
                  <button class="btn btn-sm btn-default" title="Clear"
                    ng-click="$ctrl.geneList = []; $ctrl.update()"
                    ng-disabled="$ctrl.geneList.length === 0">
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div id="filters" uib-accordion-group class="panel-default" is-open="$ctrl.uiState.filters">
            <uib-accordion-heading>
              Filters <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': $ctrl.uiState.filters, 'glyphicon-chevron-right': !$ctrl.uiState.filters}"></i>
            </uib-accordion-heading>
            <div id="fc-filter" class="col-md-12 col-xs-6">
              <label><a href ng-click="$ctrl.uiState.fccut = !$ctrl.uiState.fccut">abs. log2FoldChange &gt; {{$ctrl.plotState.fccut}}</a></label>
              <div uib-collapse="!$ctrl.uiState.fccut">
                <input type="number" class="form-control input-sm" ng-model="$ctrl.plotState.fccut" min="0" max="5" step="0.1" ng-change="$ctrl.update()"/>
                <rzslider rz-slider-model="$ctrl.plotState.fccut" rz-slider-options="$ctrl.sliders.fccut"></rzslider>
              </div>
            </div>

            <div id="fdr-filter" class="col-md-12 col-xs-6">
              <label><a href ng-click="$ctrl.uiState.logpcut = !$ctrl.uiState.logpcut">AND log10 FDR &le; {{$ctrl.plotState.logpcut}}</a></label>
              <div uib-collapse="!$ctrl.uiState.logpcut">
                <input type="number" class="form-control input-sm" ng-model="$ctrl.plotState.logpcut" min="-5" max="0" step="0.1" ng-change="$ctrl.update()"/>
                <rzslider rz-slider-model="$ctrl.plotState.logpcut" rz-slider-options="$ctrl.sliders.logpcut"></rzslider>
              </div>
            </div>

            <div id="bm-filter" class="col-md-12 col-xs-6">
              <label><a href ng-click="$ctrl.uiState.bmcut = !$ctrl.uiState.bmcut">AND {{$ctrl.xLabel.MA}} &gt; {{$ctrl.plotState.bmcut}}</a></label>
              <div uib-collapse="!$ctrl.uiState.bmcut">
                <input type="number" class="form-control input-sm" ng-model="$ctrl.plotState.bmcut" step="0.1" ng-change="$ctrl.update()"/>
                <rzslider rz-slider-model="$ctrl.plotState.bmcut" rz-slider-options="$ctrl.sliders.bmcut"></rzslider>
              </div>
            </div>

            <div class="row clear">
              <div id="gene-count" class="col-md-12 text-right">
                <label>Up: {{$ctrl.upDown[0]}}</label>
                <label>Down: {{$ctrl.upDown[1]}}</label>
              </div>
            </div>
          </div>
          <div id="plot-options"uib-accordion-group class="panel-default" is-open="$ctrl.uiState.plot">
            <uib-accordion-heading>
              Plot <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': $ctrl.uiState.plot, 'glyphicon-chevron-right': !$ctrl.uiState.plot}"></i>
            </uib-accordion-heading>
            <div class="col-md-12 col-xs-6">
              <rzslider rz-slider-model="$ctrl.plotState.alpha" rz-slider-options="$ctrl.sliders.alpha"></rzslider>
            </div>

            <div id="plot-field" class="col-md-12 col-xs-6">
              <label>Density plot:</label>
              <input type="radio" name="hex" value="hex" checked ng-model="$ctrl.plotState.plot" ng-change="$ctrl.draw()"> Hexplot
              <input type="radio" name="scatter" value="scatter" ng-model="$ctrl.plotState.plot" ng-change="$ctrl.draw()"> Scatterplot
            </div>

            <div id="plot-type" class="col-md-12 col-xs-6">
              <label>Type:</label>
              <input type="radio" name="MA" value="MA" checked ng-model="$ctrl.plotState.plotType" ng-change="$ctrl.draw()"> MA-plot
              <input type="radio" name="Volcano" value="Volcano" ng-model="$ctrl.plotState.plotType" ng-change="$ctrl.draw()"> Volcano
            </div>
          </div>
        </uib-accordion>
      <form>

      <div class="col-md-9" on-resize="$ctrl.draw()">
        <div class="well chart-height chart-well">
          <div id="chart-toolbar" class="btn-group btn-group-xs pull-right toolbar chart-toolbar" role="group" aria-label="toolbar">
            <button type="button" class="btn btn-sm btn-default" ng-disabled="$ctrl.chart.brush.empty()" ng-click="$ctrl.chartAction('zoomExtent')" title="zoom to selection">
              <span class="fa-stack zoom-extent">
                <i class="fa fa-square-o fa-stack-1x" aria-hidden="true"></i>
                <i class="fa fa-search fa-stack-1x" aria-hidden="true"></i>
              </span>
            </button>

            <button type="button" class="btn btn-default" ng-click="$ctrl.chartAction('zoomOut')" title="zoom out">
              <i class="fa fa-search-minus" aria-hidden="true"></i>
            </button>

            <button type="button" class="btn btn-default" ng-click="$ctrl.chartAction('zoomHome')" title="zoom home">
              <i class="fa fa-arrows-alt" aria-hidden="true"></i>
            </button>
          </div>

          <div id="_scatter__chart" class="_scatter" file-dropzone="[text/plain,text/csv,text/tab-separated-values]" data-max-file-size="30" dropped="$ctrl.dropped(file)">
            <div class="spinner-icon"></div>
            <div class="drop-here">
              Drop File Here
            </div>
            <div class="chart" ng-non-bindable></div>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Expression <small>Showing {{$ctrl.gridOptions.data.length}} of {{$ctrl.dataState.data.length}}</small></h2>
        <div ui-grid="::$ctrl.gridOptions" ui-grid-exporter ui-grid-resize-columns class="expression-grid"></div>
      </div>
    </div>

  </div>
</div>
