<div class="header">
	<div class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">

				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<a class="navbar-brand" href="#/"><%= template.title %></a>
			</div>

			<div class="collapse navbar-collapse pull-right" id="js-navbar-collapse">
				<ul class="nav navbar-nav">


          <li id="data-download" class="dropdown" uib-dropdown ng-if="::($ctrl && $ctrl.dataPackage)">
            <a href type="button" class="dropdown-toggle" uib-dropdown-toggle aria-expanded="false">
              <div>
                <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
                Download Data <span class="caret"></span>
              </div>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li class="dropdown-header">Data Resources</li>
              <li ng-repeat="file in $ctrl.resources">
                <a class="btn btn-link" file-download="file">{{file.name}}</a>
              </li>
            </ul>
          </li>

          <li id="svg-download" class="dropdown" uib-dropdown svg-download-dropdown="svgList in #charts" ng-if="::($ctrl && $ctrl.dataPackage)">
            <a href type="button" class="dropdown-toggle" uib-dropdown-toggle aria-expanded="false">
              <div>
                <i class="fa fa-picture-o" aria-hidden="true"></i>
                Download SVG <span class="caret"></span>
              </div>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li ng-repeat="svg in svgList">
                <a class="btn btn-link" svg-download="#{{svg.id}}" title="{{svg.title}}">{{svg.title}} as SVG</a>
              </li>
            </ul>
          </li>

          <li id="intro" ng-if="::($ctrl && $ctrl.dataPackage)">
            <a href ng-click="CallMe()">Show me</a>
          </li>

					<li active-path="/about">
            <a ng-href="#/about">About</a>
          </li>
				</ul>
			</div>
		</div>
	</div>
</div>
